/* Styles go here */
.ui.dividing.header {
    margin-top: 1em;
    margin-bottom: 2em;
}
i.icon {
    margin: 0;
}

#content {
    margin-bottom: 4em; 
    display: flex;    
    justify-content: center;  
    flex-direction: column; 
}
.filter_container {
    width: 60%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    flex-grow: 1 ;

}
.filter_item {
    color: black;
    cursor: pointer;
}
.filter_item_selected {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
button:active {
    border: none;
}
.list_item {
    width: 200px;
    margin-top: 10px;
    border: 1px solid blue;
    position: relative;
    opacity: 1;

    transition: opacity 0.5s;
}
.list_item img{

    max-width:100%;
    max-height:200px;
    width: auto;
    height: auto;
    border: 1px dashed red;
    border-radius: 2px;
}
.list_item .like_button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
}
.list_item .like_button.focus{
    outline: none;
}
.list_item .like_button svg {
    height: 32px;
    width: 32px;
    display: block;
    viewBox: "0 0 32 32";
    fill: "#484848";
    fill-opacity:0.5;
    stroke: white;
    stroke-width : 1.5;
    aria-label:"Save this listing to review later.";
    role:"img";
    stroke-linecap:"round" ;
    stroke-linejoin:"round";
}
.list_item .like_button svg:hover {
    fill: red;
}
.fav-selected {
    fill: red;
}
.fav-notselected {
    fill: #484848;
}
.category_name {
    cursor: pointer;
    font-size: small;
    color: red;
    font-style: oblique;
}
.item_title {
    font-size: medium;
    color: black;
}
.item_price {
    font-size: small;
    color: darkgray;
    font-style: oblique;
}
.list_item item_title {
    font-style: oblique;
    max-height: 20px;
    margin-left: 20px;
}
.listing_container{

    display: flex;
    justify-content: space-between;

    align-items: flex-start;
    flex-flow: row wrap;

}
.listing_container:after {
    content: "";
    width: 200px;
}
.section_container h3{
    margin-top: 20px;
}